<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.fwcldEdit.plist</string>
    <key>ServiceDescription</key>
    <string>fwcld Editor</string>
    <key>ProgramArguments</key>
    <array>
        <string>/tmp/fwcldEdit.sh</string>
    </array>
    <key>RunAtLoad</key>
    <false/>
</dict>
</plist>
