<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>booster1</key>
	<string>no.booster.set</string>
	<key>booster1Port</key>
	<integer>0</integer>
	<key>booster1PublishPort</key>
	<integer>0</integer>
	<key>booster2</key>
	<string>no.booster.set</string>
	<key>booster2Port</key>
	<integer>0</integer>
	<key>booster2PublishPort</key>
	<integer>0</integer>
	<key>booster3</key>
	<string>no.booster.set</string>
	<key>booster3Port</key>
	<integer>0</integer>
	<key>booster3PublishPort</key>
	<integer>0</integer>
	<key>booster4</key>
	<string>no.booster.set</string>
	<key>booster4Port</key>
	<integer>0</integer>
	<key>booster4PublishPort</key>
	<integer>0</integer>
	<key>booster5</key>
	<string>no.booster.set</string>
	<key>booster5Port</key>
	<integer>0</integer>
	<key>booster5PublishPort</key>
	<integer>0</integer>
	<key>boosterRouting</key>
	<false/>
	<key>connectorProbeAttemptDelay</key>
	<integer>3</integer>
	<key>connectorProbeAttempts</key>
	<integer>3</integer>
	<key>debugLevel</key>
	<integer>10</integer>
	<key>denyPersonalDataCollection</key>
	<false/>
	<key>deviceState</key>
	<integer>3</integer>
	<key>fileCheckInterval</key>
	<integer>86400</integer>
	<key>freeSpaceMargin</key>
	<integer>314572800</integer>
	<key>fwPassword</key>
	<string>Y	\ÿ</string>
	<key>fwUser</key>
	<string>AA21327BERR</string>
	<key>kioskPort</key>
	<integer>20020</integer>
	<key>locationRefreshInterval</key>
	<integer>900</integer>
	<key>monitorPort</key>
	<integer>20010</integer>
	<key>niceTime</key>
	<string>0</string>
	<key>primaryPort</key>
	<integer>20015</integer>
	<key>priority</key>
	<integer>2</integer>
	<key>server</key>
	<string>fw.claytonschools.net</string>
	<key>setUsersFilesOwner</key>
	<integer>1</integer>
	<key>srvPublishPort</key>
	<integer>20005</integer>
	<key>syncComputerName</key>
	<integer>1</integer>
	<key>tickleInterval</key>
	<integer>120</integer>
	<key>useSSL</key>
	<string>true</string>
	<key>vncManaged</key>
	<true/>
	<key>vncPromptClient</key>
	<false/>
	<key>vncRelayPort</key>
	<integer>20030</integer>
	<key>vncServerPort</key>
	<integer>20031</integer>
</dict>
</plist>
